header{
	position: absolute;
	top: 0;
	width: 100%;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px 20px;
	transition: all 0.4s ease;
	background: rgba(0,0,0,0.65);
}

header h1 {
	font-size:2em;
	font-weight: 300;
	transition: all 0.4s ease;
}
header h1 a {
	color: #ffffff;
	text-decoration: none;
}
header h1 span {
	display: inline-block;
	background: url(../../img/logo-icon.png) no-repeat;
	background-size: 100%;
	width: 25px;
	height: 25px;
	transition: all 0.4s ease;
}
.mobile-menu {
	position: absolute;
	top:10px;
	right: 20px;
	color: #ffffff;
	font-size: 2em;
}
header nav{
	width: 100%;
}

header nav ul {
	display: none;
}

header nav ul li{
	display: block;
	border-bottom:1px solid #000000;
	margin: 0 20px 0 0;
	padding: 10px;
	font-size: 1.3em;
}
header nav ul li:last-child{
	border-bottom: none;
}
header nav ul li a {
	color:#ffffff;
	text-decoration: none;
}



@media screen and (min-width: 680px) {
	header{
		background: none;
		padding: 20px;
	}
	header nav{
		width: auto;
	}
	header nav ul[style],header nav ul{
		display: block!important;
	}
	.mobile-menu {
		display: none;
	}
	header nav ul li{
		display: inline-block;
		border-bottom: none;
		font-size: 1em;
	}
	header h1 {
		font-size: 3em;
	}
	header h1 span {
		width: 45px;
		height: 45px;
	}

}
