/* Portfolio Preview */

.project-preview {
  background-size: 100%;
  background-repeat: none;
  cursor: pointer;
  border: 1px solid #ffffff;
}

.project-preview section{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(61, 211, 178, 0.8);
  display: block;
  padding: 10px;
}
.project-preview section p {
  margin: 5px 0;
}

.project-details{
  position: absolute;
  background: rgba(255,255,255,0.9);
  z-index: 99;
  left: 0;
  width: 0;
  transition: all 0.6s ease;
  overflow: hidden;
  padding: 0;
  visibility: hidden;

}
.project-details.expanded{
  right: 0;
  display: block;
  width: 100%;
  padding: 20px;
  visibility: visible;
}
.close{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .project-preview {
    width: 50%;
  }
  .project-details.expanded{
    width: 50%;
  }

}
/*
.selected {
  position: absolute;
  right: 0;
  z-index: 99;
}
.move {
  animation: move 3s ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes move {
  0% {
     right: 0;
  }
  50% {
     left: 50%;
  }
  100% {
     left: 0;
  }
}*/

@media screen and (min-width: 800px) {

  .project-preview section{
    display: none;
  }

}
