@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,800,700italic,700,600italic,600,400italic,300italic);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Global Styles */
* {
	box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

section {
	padding: 20px;
}

h2 {
	color: #2e9e74;
	font-size: 2.4em;
	font-weight: 300;
}

p {
	font-family: 'Open Sans',sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	margin: 2em 0;
}
/* Portfolio Preview */
#portfolio{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#portfolio h2 {width: 100%;}

.project-preview {
  width: 50%;
  position: relative;
  background-size: 100%;
  background-repeat: none;
  cursor: pointer;
}

.project-preview:before{
	content: "";
	display: block;
	padding-top: 54%; 	/* fixed aspect ratio */
}

.project-preview section{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(61, 211, 178, 0.8);
  display: none;
}
.project-preview:hover section {
  display: block;
}

.template {
  display: none;
}
#portfolio article.project-details {
width: 100%;

}

header{
	position: absolute;
	top: 0;
	width: 100%;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	transition: all 0.4s ease;
}
header h1 {
	font-size:3em;
	font-weight: 300;
	transition: all 0.4s ease;
}
header h1 span {
	display: inline-block;
	background: url(../img/logo-icon.png) no-repeat;
	background-size: 100%;
	width: 45px;
	height: 45px;
	transition: all 0.4s ease;
}

header nav ul li{
	display: inline-block;
	margin-right: 20px;
}
header nav ul li a {
	color:#ffffff;
	text-decoration: none;
}

.banner {
	background:url('../img/banner.jpg') no-repeat;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	height: 600px;
	padding:20px;
}
.banner ul li {
	display: block;
	border: 1px solid #ffffff;
	width: 145px;
	height: 145px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin: 5px;
	float: left;
	font-size: 1.3em;
}
.next-line {clear: both;}

.sticky {
	position: fixed;
	background: rgba(0,0,0,0.5);
	padding: 10px 20px;
}
.sticky h1 {
	font-size: 2em;
}
.sticky h1 span {
	width: 25px;
	height: 25px;
}
