section {
  padding: 20px;
}

/* Portfolio */

#portfolio{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#portfolio h2 {
  width: 100%;
}

/* Projects */
.template {
  display: none;
}

.project-preview {
  position: relative;
  width: 100%;
}

.project-preview:before{
	content: "";
	display: block;
	padding-top: 54%; 	/* fixed aspect ratio */
}
